*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 64.5%;
}


.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #8d3b3b, #3a4452);
}

.calculator{
  border: .1rem solid #3a4452;
  padding: 2rem;
  border-radius: 1.6rem;
  background: #443f3f;
  box-shadow: 0rem .3rem 1.5rem rgba(113, 115, 119, 0.4);

}

input{
  width: .03rem;
  border: none;
  padding: 2.4rem;
  margin: .1rem;
  background: transparent;
  box-shadow: 0rem .3rem 1.5rem rgbs(84, 84, 84, 0.1);
  font-size: 4rem;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

input::placeholder{
  color: #ffffff;
}

button{
  border: none;
  width: 6rem;
  height: 6rem;
  margin: 1rem;
  border-radius: 25%;
  background: transparent;
  color: #ffffff;
  font-size: 2rem;
  box-shadow: -.8rem -.8rem 1.5rem rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn{
  background-color: #325a35;
}

.operator{
  color: #290974e7;
  background-color: #ffffff;
}

  
